{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<style>
	img {
		display : inline !important;
	}
	button {
		background-color: #579d6f !important;
	}
    button:hover {
		background-color: #4d8c63 !important;
	}
</style>
	<section class="countdown bg_brand_secondary">
		<div class="container-fluid pb-[80px] ">
			<div class="text-xl text-center tracking-[8px] md:text-4xl text-white md:tracking-[14px] font-bold">
				MARTINIQUE SALES !
			</div>
			<!--Time-->
			<div class="mt-[30px] flex justify-center items-center gap-[40px]">
				<!--HOURS-->
				<div class="flex flex-col-reverse justify-center items-center space-y-10">
					<h1 class="mt-[30px] text-2xl text-white font-bold">
						DAYS
					</h1>
					<div class="flex justify-center items-center">
						<div class="flex flex-col space-y-[1px] rounded-xl container-shadow" style="color: #fde047" data-days>
							<!--Top-->
							<span class="relative w-[180px] h-[90px] bg-slightlyDarkerDesBlue overflow-hidden
                         rounded-tl-xl rounded-tr-xl flex justify-center items-end text-8xl">
              <div class="absolute w-full h-full flex justify-start items-end">
                <div class="w-[10px] h-[8px] rounded-tr-full bg-veryDarkBlue"></div>
              </div>
              <div class="absolute w-full h-full flex justify-end items-end">
                <div class="w-[10px] h-[8px] rounded-tl-full bg-veryDarkBlue"></div>
              </div>
              <span class="translate-y-[46px]" data-card-top>
                09
              </span>
								<!--FlipTop-->
              <span class="absolute w-[180px] h-[90px] bg-slightlyDarkerDesBlue overflow-hidden
                             rounded-tl-xl rounded-tr-xl flex justify-center items-end text-8xl top-flip-shadow" data-flip-top>
                <div class="absolute w-full h-full flex justify-start items-end">
                  <div class="w-[10px] h-[8px] rounded-tr-full bg-veryDarkBlue"></div>
                </div>
                <div class="absolute w-full h-full flex justify-end items-end">
                  <div class="w-[10px] h-[8px] rounded-tl-full bg-veryDarkBlue"></div>
                </div>
                <span class="translate-y-[46px]" data-flip-top-num data-card-top>
                  00
                </span>
              </span>
            </span>
							<!--Bottom-->
							<span class="relative w-[180px] h-[90px] bg-darkDesaturatedBlue overflow-hidden
                        rounded-bl-xl rounded-br-xl flex justify-center items-end text-8xl bottom-flip-shadow">
              <div class="absolute w-full h-full flex justify-start items-start">
                <div class="w-[10px] h-[8px] rounded-br-full bg-veryDarkBlue"></div>
              </div>
              <div class="absolute w-full h-full flex justify-end items-start">
                <div class="w-[10px] h-[8px] rounded-bl-full bg-veryDarkBlue"></div>
              </div>
              <span class="-translate-y-[45px]" data-card-bot>00</span>
								<!--FlipBottom-->
              <span class="absolute w-[180px] h-[90px] bg-darkDesaturatedBlue overflow-hidden
                            rounded-bl-xl rounded-br-xl flex justify-center items-end text-8xl bottom-flip-shadow" data-flip-bot>
                <div class="absolute w-full h-full flex justify-start items-start">
                  <div class="w-[10px] h-[8px] rounded-br-full bg-veryDarkBlue"></div>
                </div>
                <div class="absolute w-full h-full flex justify-end items-start">
                  <div class="w-[10px] h-[8px] rounded-bl-full bg-veryDarkBlue"></div>
                </div>
                <span class="-translate-y-[45px]" data-flip-bot-num>00</span>
              </span>
            </span>
						</div>
					</div>
				</div>
				<!--HOURS-->
				<div class="flex flex-col-reverse justify-center items-center space-y-10">
					<h1 class="mt-[30px] text-2xl text-white font-bold">
						HOURS
					</h1>
					<div class="flex justify-center items-center">
						<div class="flex flex-col space-y-[1px] rounded-xl container-shadow" style="color: #fde047" data-hours>
							<!--Top-->
							<span class="relative w-[180px] h-[90px] bg-slightlyDarkerDesBlue overflow-hidden
                         rounded-tl-xl rounded-tr-xl flex justify-center items-end text-8xl">
              <div class="absolute w-full h-full flex justify-start items-end">
                <div class="w-[10px] h-[8px] rounded-tr-full bg-veryDarkBlue"></div>
              </div>
              <div class="absolute w-full h-full flex justify-end items-end">
                <div class="w-[10px] h-[8px] rounded-tl-full bg-veryDarkBlue"></div>
              </div>
              <span class="translate-y-[46px]" data-card-top>
                00
              </span>
								<!--FlipTop-->
              <span class="absolute w-[180px] h-[90px] bg-slightlyDarkerDesBlue overflow-hidden
                             rounded-tl-xl rounded-tr-xl flex justify-center items-end text-8xl top-flip-shadow" data-flip-top>
                <div class="absolute w-full h-full flex justify-start items-end">
                  <div class="w-[10px] h-[8px] rounded-tr-full bg-veryDarkBlue"></div>
                </div>
                <div class="absolute w-full h-full flex justify-end items-end">
                  <div class="w-[10px] h-[8px] rounded-tl-full bg-veryDarkBlue"></div>
                </div>
                <span class="translate-y-[46px]" data-flip-top-num data-card-top>
                  00
                </span>
              </span>
            </span>
							<!--Bottom-->
							<span class="relative w-[180px] h-[90px] bg-darkDesaturatedBlue overflow-hidden
                        rounded-bl-xl rounded-br-xl flex justify-center items-end text-8xl bottom-flip-shadow">
              <div class="absolute w-full h-full flex justify-start items-start">
                <div class="w-[10px] h-[8px] rounded-br-full bg-veryDarkBlue"></div>
              </div>
              <div class="absolute w-full h-full flex justify-end items-start">
                <div class="w-[10px] h-[8px] rounded-bl-full bg-veryDarkBlue"></div>
              </div>
              <span class="-translate-y-[45px]" data-card-bot>00</span>
								<!--FlipBottom-->
              <span class="absolute w-[180px] h-[90px] bg-darkDesaturatedBlue overflow-hidden
                            rounded-bl-xl rounded-br-xl flex justify-center items-end text-8xl bottom-flip-shadow" data-flip-bot>
                <div class="absolute w-full h-full flex justify-start items-start">
                  <div class="w-[10px] h-[8px] rounded-br-full bg-veryDarkBlue"></div>
                </div>
                <div class="absolute w-full h-full flex justify-end items-start">
                  <div class="w-[10px] h-[8px] rounded-bl-full bg-veryDarkBlue"></div>
                </div>
                <span class="-translate-y-[45px]" data-flip-bot-num>00</span>
              </span>
            </span>
						</div>
					</div>
				</div>
				<!--MINUTES-->
				<div class="flex flex-col-reverse justify-center items-center space-y-10">
					<h1 class="mt-[30px] text-2xl text-white font-bold">
						MINUTES
					</h1>
					<div class="flex justify-center items-center">
						<div class="flex flex-col space-y-[1px] rounded-xl container-shadow" style="color: #fde047" data-minutes>
							<!--Top-->
							<span class="relative w-[180px] h-[90px] bg-slightlyDarkerDesBlue overflow-hidden
                         rounded-tl-xl rounded-tr-xl flex justify-center items-end text-8xl">
              <div class="absolute w-full h-full flex justify-start items-end">
                <div class="w-[10px] h-[8px] rounded-tr-full bg-veryDarkBlue"></div>
              </div>
              <div class="absolute w-full h-full flex justify-end items-end">
                <div class="w-[10px] h-[8px] rounded-tl-full bg-veryDarkBlue"></div>
              </div>
              <span class="translate-y-[46px]" data-card-top>
                00
              </span>
								<!--FlipTop-->
              <span class="absolute w-[180px] h-[90px] bg-slightlyDarkerDesBlue overflow-hidden
                             rounded-tl-xl rounded-tr-xl flex justify-center items-end text-8xl top-flip-shadow" data-flip-top>
                <div class="absolute w-full h-full flex justify-start items-end">
                  <div class="w-[10px] h-[8px] rounded-tr-full bg-veryDarkBlue"></div>
                </div>
                <div class="absolute w-full h-full flex justify-end items-end">
                  <div class="w-[10px] h-[8px] rounded-tl-full bg-veryDarkBlue"></div>
                </div>
                <span class="translate-y-[46px]" data-flip-top-num data-card-top>
                  00
                </span>
              </span>
            </span>
							<!--Bottom-->
							<span class="relative w-[180px] h-[90px] bg-darkDesaturatedBlue overflow-hidden
                        rounded-bl-xl rounded-br-xl flex justify-center items-end text-8xl bottom-flip-shadow">
              <div class="absolute w-full h-full flex justify-start items-start">
                <div class="w-[10px] h-[8px] rounded-br-full bg-veryDarkBlue"></div>
              </div>
              <div class="absolute w-full h-full flex justify-end items-start">
                <div class="w-[10px] h-[8px] rounded-bl-full bg-veryDarkBlue"></div>
              </div>
              <span class="-translate-y-[45px]" data-card-bot>00</span>
								<!--FlipBottom-->
              <span class="absolute w-[180px] h-[90px] bg-darkDesaturatedBlue overflow-hidden
                            rounded-bl-xl rounded-br-xl flex justify-center items-end text-8xl bottom-flip-shadow" data-flip-bot>
                <div class="absolute w-full h-full flex justify-start items-start">
                  <div class="w-[10px] h-[8px] rounded-br-full bg-veryDarkBlue"></div>
                </div>
                <div class="absolute w-full h-full flex justify-end items-start">
                  <div class="w-[10px] h-[8px] rounded-bl-full bg-veryDarkBlue"></div>
                </div>
                <span class="-translate-y-[45px]" data-flip-bot-num>00</span>
              </span>
            </span>
						</div>
					</div>
				</div>
				<!--Seconds-->
				<div class="flex flex-col-reverse justify-center items-center space-y-10">
					<h1 class="mt-[30px] text-2xl text-white font-bold">
						SECONDS
					</h1>
					<div class="flex justify-center items-center">
						<div class="flex flex-col space-y-[1px] rounded-xl container-shadow" style="color: #fde047" data-seconds>
							<!--Top-->
							<span class="relative w-[180px] h-[90px] bg-slightlyDarkerDesBlue overflow-hidden
                         rounded-tl-xl rounded-tr-xl flex justify-center items-end text-8xl">
              <div class="absolute w-full h-full flex justify-start items-end">
                <div class="w-[10px] h-[8px] rounded-tr-full bg-veryDarkBlue"></div>
              </div>
              <div class="absolute w-full h-full flex justify-end items-end">
                <div class="w-[10px] h-[8px] rounded-tl-full bg-veryDarkBlue"></div>
              </div>
              <span class="translate-y-[46px]" data-card-top>
                00
              </span>
								<!--FlipTop-->
              <span class="absolute w-[180px] h-[90px] bg-slightlyDarkerDesBlue overflow-hidden
                             rounded-tl-xl rounded-tr-xl flex justify-center items-end text-8xl top-flip-shadow">
                <div class="absolute w-full h-full flex justify-start items-end" data-flip-top>
                  <div class="w-[10px] h-[8px] rounded-tr-full bg-veryDarkBlue"></div>
                </div>
                <div class="absolute w-full h-full flex justify-end items-end">
                  <div class="w-[10px] h-[8px] rounded-tl-full bg-veryDarkBlue"></div>
                </div>
                <span class="translate-y-[46px]" data-flip-top-num data-card-top>
                  00
                </span>
              </span>
            </span>
							<!--Bottom-->
							<span class="relative w-[180px] h-[90px] bg-darkDesaturatedBlue overflow-hidden
                        rounded-bl-xl rounded-br-xl flex justify-center items-end text-8xl bottom-flip-shadow">
              <div class="absolute w-full h-full flex justify-start items-start">
                <div class="w-[10px] h-[8px] rounded-br-full bg-veryDarkBlue"></div>
              </div>
              <div class="absolute w-full h-full flex justify-end items-start">
                <div class="w-[10px] h-[8px] rounded-bl-full bg-veryDarkBlue"></div>
              </div>
              <span class="-translate-y-[45px]" data-card-bot>00</span>
								<!--FlipBottom-->
              <span class="absolute w-[180px] h-[90px] bg-darkDesaturatedBlue overflow-hidden
                            rounded-bl-xl rounded-br-xl flex justify-center items-end text-8xl bottom-flip-shadow" data-flip-bot>
                <div class="absolute w-full h-full flex justify-start items-start">
                  <div class="w-[10px] h-[8px] rounded-br-full bg-veryDarkBlue"></div>
                </div>
                <div class="absolute w-full h-full flex justify-end items-start">
                  <div class="w-[10px] h-[8px] rounded-bl-full bg-veryDarkBlue"></div>
                </div>
                <span class="-translate-y-[45px]" data-flip-bot-num>00</span>
              </span>
            </span>
						</div>
					</div>
				</div>
			</div>







	</section>

	<script>
		/*Declare time*/
		const countToDate = new Date().setDate(new Date().getDate() + 2);

		/*Calculate time from current date compared to the Declared time*/
		setInterval(() => {
			const currentDate = new Date();
			const timeBetweenDates = Math.ceil((countToDate - currentDate) / 1000);
			flipAllcard(timeBetweenDates);
		}, 250);


		/*Populate the cards with the data coming from the Declared Time*/
		function flipAllcard(time) {
			const seconds = time % 60;
			const minutes = Math.floor(time / 60) % 60;
			const hours = Math.floor(time / 3600) % 24;
			const days = Math.floor(time / 86400);

			flip(document.querySelector("[data-days]"), days, true);
			flip(document.querySelector("[data-hours]"), hours);
			flip(document.querySelector("[data-minutes]"), minutes);
			flip(document.querySelector("[data-seconds]"), seconds);
		}


		/*Flip animation function for the cards*/
		function flip(flipcard, newNumber, flag) {
			const cardTop = flipcard.querySelector("[data-card-top]");
			const startNumber = cardTop ? parseInt(cardTop.textContent, 10) : 0;

			const cardBot = flipcard.querySelector("[data-card-bot]"),
					topFlip = flipcard.querySelector("[data-flip-top]"),
					botFlip = flipcard.querySelector("[data-flip-bot]"),
					topFlipNum = flipcard.querySelector("[data-flip-top-num]"),
					botFlipNum = flipcard.querySelector("[data-flip-bot-num]");

			if (newNumber === startNumber) return;

			const displayStartNum = String(startNumber).padStart(2, "0");

			const displayNewNum = String(newNumber).padStart(2, "0");

			if (flag) console.log("displayStartNum", displayStartNum, displayNewNum);

			const anim = (el, event, callback) => {
				const handler = () => {
					el.removeEventListener(event, handler);
					callback();
				};

				el.addEventListener(event, handler);
			};

			cardTop.textContent = displayStartNum;
			cardBot.textContent = displayStartNum;
			topFlipNum.textContent = displayStartNum;
			botFlipNum.textContent = displayNewNum;

			topFlip.classList.add("flip-card-top");
			botFlip.classList.add("flip-card-bottom");

			anim(topFlip, "animationstart", () => {
				cardTop.textContent = displayNewNum;
			});

			anim(topFlip, "animationend", () => {
				topFlipNum.innerText = displayNewNum;
				topFlip.classList.remove("flip-card-top");
			});

			anim(botFlip, "animationend", () => {
				cardBot.textContent = displayNewNum;
				botFlip.classList.remove("flip-card-bottom");
			});
		}

	</script>
	<div class="container">
		<div class="card paddingX">
			{{ form_start(form) }}
			<div class="input-field">
				{{ form_label(form.id) }}
				{{ form_widget(form.id, {'attr': {'class': 'dark-theme'}}) }}
			</div>
			{{ form_end(form) }}
			<br>
		</div>
	</div>

    <form method="post">
        <div class="container">
            <div class="row">
                <div class="content col s12 m12 l8">


				<section class="formulas">
					<div class="card bg_grey">
						<div class="card-content">
							<span class="card-title color_product_primary center-align">Étape 1</span>
							<p class="h6 center-align">Choisissez votre produit</p>
						</div>
					</div>
					{% if products is empty %}
					<div class="card center-align">Aucun produit disponible</div>
					{% else %}
					{% for product in products %}
					<label class="cure-radio">
						<input name="order[cart][cart_products][0]" value="{{ product.id }}" type="radio" checked="checked">
						<article>
							<div class="card center-align">
								<div class="row">
									<div class="col s12 m12 l4">
										{% if not product.popular != 1 %}
										<div class="promo">Offre la plus populaire !</div>
										{% endif %}
										<div class="image-content">
											<img src="assets/images/{{ product.image }}" alt="{{ product.name }}" class="responsive-img m-4">
										</div>
									</div>
									<div class="col s12 m6 l4">
										<div class="card-content">
											<p class="h6">
												{{ product.quantity }} {{ product.name }}
											</p>
											{% if product.offer is not null %}
											<p class="h5 color_brand_secondary">
												+ {{ product.offer }} OFFERTS
											</p>
											{% endif %}
											<p class="h4">
												{{ (product.price * (1 - (product.salesprice / 100))) / 100 }} €
												<span class="h6"><br>au lieu de <del class="h5 color_brand_secondary"> {{ product.price / 100
														}}€</del></span>
											</p>
										</div>
									</div>
									<div class="col s12 m6 l4">
										<div class="card-content">
											{% set discountedPrice = product.price - product.price * (1 - (product.salesprice / 100)) %}


                                                <p class="h6 color_brand_secondary">
                                                    J'économise  {{ discountedPrice / 100}}€
                                                </p>
                                                <p class="h6">
                                                    + livraison gratuite
                                                </p>
                                                <div class="picto-wrapper">
                                                    <img src="assets/images/like-product2.png" class="responsive-img" alt="Garantie satisfait ou remboursé">
                                                    <p class="color_brand_primary">Satisfait<br>ou remboursé</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </label>
                        {% endfor %}

                    </section>


				{% endif %}


				<section class="benefices">
					<h5 class="center-align color_product_primary">POURQUOI PECHEMEL EST AUSSI POPULAIRE EN OPEN SPACE</h5>
					<div class="card">
						<div class="card-content">
							<span class="card-title color_product_primary">Qu'est ce que PêcheMel ?</span>
							<p>
								PêcheMel est une entreprise fruitière unique en son genre, spécialisée dans la vente de fruits tournés vers l'humour. Depuis sa création, PêcheMel s'est forgé une solide réputation et est devenue extrêmement populaire, notamment dans les open spaces. Mais pourquoi PêcheMel est-il aussi apprécié dans ces environnements de travail collaboratifs ? La réponse réside dans son approche novatrice et divertissante qui égaye les journées des employés.
							</p>
							<p>
								Depuis sa création, PêcheMel a su se démarquer en apportant une touche de bonheur et de fantaisie dans les environnements professionnels
							</p>
						</div>
						<hr>
						<div class="row">
							<div class="col s12 l6">
								<div class="card-content">
									<span class="card-title color_product_primary">Bienfaits :</span>
									<ul>
										<li>✔ Favorise la vengeance entre collègues</li>
										<li>✔ Aide à combattre l'injustice</li>
										<li>✔ Favorise le respect de chacun</li>
										<li>✔ Aide à traiter la dépression, la nervosité</li>
										<li>✔ Calme les esprits révolutionnaires</li>
										<li>✔ Aide à réduire les après-midi ennuyeuses</li>
									</ul>
								</div>
							</div>
							<div class="col s12 l6">
								<div class="card-content">
									<span class="card-title color_product_primary">Nos Conseils :</span>
									<b>Conseils d’utilisation :</b>
									<p>Toujours viser la tête</p>
									<b>Soyez tactiques :</b>
									<p>
										Il est possible de tenter de créer des situations qu’on pense qui ne seront pas en faveur de notre
										adversaire. Par exemple,

										Prendre une garde gauche ou droite;
										Effectuer des déplacements qui seront déstabilisants pour l’adversaire;
										Utiliser un rythme qui désavantage l’adversaire selon son style de combattant;
										Intimider l’adversaire par son attitude ou son regard.

									</p>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="banner">
					<div class="row">
						<div class="col m5ths s6">
							<div class="picto-wrapper center-align">
								<img src="assets/images/france.png" class="responsive-img" alt="Fabriqué en France">
								<p class="color_brand_primary">Fabriqué<br><b>en Martinique</b></p>
							</div>
						</div>
						<div class="col m5ths s6">
							<div class="picto-wrapper center-align">
								<img src="assets/images/naturel.png" class="responsive-img" alt="100% naturel">
								<p class="color_brand_primary">100%<br><b>Ecologique</b></p>
							</div>
						</div>
						<div class="col m5ths s6">
							<div class="picto-wrapper center-align">
								<img src="assets/images/secure.png" class="responsive-img" alt="Paiement sécurisé">
								<p class="color_brand_primary">Paiement<br><b>sécurisé</b></p>
							</div>
						</div>
						<div class="col m5ths s6">
							<div class="picto-wrapper center-align">
								<img src="assets/images/chrono.png" class="responsive-img"
									alt="Votre commande est traitée en moins de 24h">
								<p class="color_brand_primary">Livraison<br><b>Colis suivi</b></p>
							</div>
						</div>
						<div class="col m5ths s6">
							<div class="picto-wrapper center-align">
								<img src="assets/images/like.png" class="responsive-img" alt="Paiement sécurisé">
								<p class="color_brand_primary">100% Satisfait<br><b>ou remboursé</b></p>
							</div>
						</div>

					</div>
				</section>
				<section class="banner">
					<div class="card">
						<div class="row">
							<div class="col s12 l4">
								<div class="card-content picto-wrapper center-align">
									<img src="assets/images/chrono-big.png" class="responsive-img"
										alt="Votre commande est traitée en moins de 24h">
									<p class="color_brand_primary">Livraison<br><b>Colis suivi</b></p>
								</div>
							</div>
							<div class="col s12 l8">
								<div class="card-content">
									<p>Nous nous engageons à livrer votre commande le plus rapidement possible. Généralement, une commande
										est traitée en moins de 24h. Vous devez donc ensuite compter le temps de transport jusqu'à la
										livraison chez vous (généralement entre 24h et 48h). Les commandes passées le vendredi et le
										week-end sont traitées et expédiées le lundi qui suit.</p>
									<p>Pour toute livraison de produits extérieure à la France métropolitaine, les délais d'acheminement
										peuvent être légèrement plus importants.</p>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
			{# Sidebar Form #}
			<aside class="sidebar col s12 m12 l4">


				{% include 'landing_page/partials/form_new.html.twig' %}

                    <div class="card">
                        <div class="row">
                            <div class="col s12">
                                <div class="card-content picto-wrapper center-align">
                                    <img src="assets/images/like-product2.png" class="responsive-img" style="max-width: 160px; "alt="Garantie satisfait ou remboursé">
                                    <p class="color_brand_primary">Satisfait<br>ou remboursé</p>
                                </div>
                            </div>
                            <div class="col s12">
                                <div class="card-content">
                                    <p>Les produits PêcheMel bénéficient de la garantie satisfait ou remboursé. Vous pouvez nous retourner vos produits (sauf si la boîte a été ouverte) et nous vous les rembourserons immédiatement.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </form>
{% endblock %}

